
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    <link media="(max-width: 600px)" rel="stylesheet" type="text/css" href="~/css/M_index.css" />
    <script type="text/javascript" src="~/js/js.js"></script>
</head>
    <body>
        <!-- 导航条 -->
        <header>
            <div class="top">
                <!-- 文章评分 -->
                <span>活着</span><br />
                <span class="bh">编号：01</span>
                <span class="time">时间：<span></span></span>
            </div>
        </header>

        <div class="mian_box">
            <!-- 中间 显示文章内容 -->
            <div class="article">
                <div class="dp_Content">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;被包围的不只是我们一个连，有十来万人的国军全被包围在方圆只有二十来里路的地方里，满地都是黄衣服，像是赶庙会一样。这时候老全神了，他坐在坑道外的土墩上吸着烟，看着那些来来去去的黄皮大兵，不时和中间某个人打声招呼，他认识的人实在是多。老全走南闯北，在七支部队里混过，他嘻嘻哈哈和几个旧相识说着脏话，互相打听几个人名，我听他们不是说死了，就是说前两天还见过。老全告诉我和春生，这些人当初都和他一起逃跑过。老全正说着，有个人向这里叫：“老全，你还没死啊？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;老全又遇到旧相识了，哈哈笑道：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “你小子什么时候被抓回来的？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;那人还没说话，另一边也有人叫上老全了，老全扭脸一看，急忙站起来喊：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “喂，你知道老良在哪里？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;那个人嘻嘻笑着喊道：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “死啦。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;老全沮丧地坐下来，骂道：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “妈的，他还欠我一块银元呢。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;接着老全得意地对我和春生说：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “你们瞧，谁都没逃成。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;刚开始我们只是被包围住，解放军没有立刻来打我们，我们还不怎么害怕，连长也不怕，他说蒋委员长会派坦克来救我们出去的。后来前面的枪炮声越来越响，我们也没有很害怕，只是一个个都闲着没事可干，连长没有命令我们开炮。有个老兵想想前面的弟兄流血送命，我们老闲着也不是个办法，他就去问连长：“我们是不是也打几炮？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;连长那时候躲在坑道里赌钱，他气冲冲地反问：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “打炮，往哪里打？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;连长说得也对，几炮打出去要是打在国军兄弟头上，前面的国军一气之下杀回来收拾我们，这可不是闹着玩的。连长命令我们都在坑道里呆着，爱干什么就干什么，就是别出去打炮。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;被包围以后，我们的粮食和弹药全靠空投。飞机在上面一出现，下面的国军就跟蚂蚁似的密密麻麻地拥来拥去，扔下的一箱箱弹药没人要，全都往一袋袋大米上扑。飞机一走，抢到大米的国军兄弟两个人提一袋，旁边的人端着枪，保护他们，那么一堆一堆地分散开去，都走回自己的坑道。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;没过多久，成群结伙的国军向房屋和光秃秃的树木涌去，远近的茅屋顶上都爬上去了人，又拆茅屋又砍树，这哪还像是打仗，乱糟糟的响声差不多都要盖住前沿的枪炮声了。才半天工夫，眼睛望得到的房屋树木全没了，空地上全都是扛着房梁，树木和抱着木板、凳子的大兵，他们回到自己的坑道后，一条条煮米饭的炊烟就升了起来，在空中扭来扭去。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;那时候最多的就是子弹了，往那里躺都硌得身体疼。四周的房屋被拆光，树也砍光后，满地的国军提着刺刀去割枯草，那情形真像是农忙时在割稻子，有些人满头大汗地刨着树根。还有一些人开始掘坟，用掘出的棺材板烧火。掘出了棺材就把死人骨头往坑外一丢，也不给重新埋了，到了那种时候，谁也不怕死人骨头了，夜里就是挨在一起睡觉也不会做噩梦。煮米饭的柴越来越少，米倒是越来越多。没人抢米了，我们三个人去扛了几袋米回来，铺在坑道当睡觉的床，这样躺着就不怕子弹硌得身体难受了。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;等到再也没有什么可当柴煮米饭时，蒋委员长还没有把我们救出去。好在那时飞机不再往下投大米，改成投大饼，成包的大饼一落地，弟兄们像牲畜一样扑上去乱抢，叠得一层又一层，跟我娘纳出的鞋底一样，他们嗷嗷乱叫着和野狼没什么两样。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;老全说：“我们分开去抢。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;这种时候只能分开去抢，才能多抢些大饼回来。我们爬出坑道，自己选了个方向走去。当时子弹在很近的地方飞来飞去，常有一些流弹窜过来。有一次我跑着跑着，身边一个人突然摔倒，我还以为他是饿昏了，扭头一看他半个脑袋没了，吓得我腿一软也差一点摔倒。抢大饼比抢大米还难，按说国军每天都在拼命地死人，可当飞机从天那边飞过来时，人全从地里冒了出来，光秃秃的地上像是突然长出了一排排草，跟着飞机跑，大饼一扔下，人才散开去，各自冲向看好的降落伞。大饼包得也不结实，一落地就散了，几十上百个人往一个地方扑，有些人还没挨着地就撞昏过去了，我抢一次大饼就跟被人吊起来用皮带打了一顿似的全身疼。到头来也只是抢到了几张大饼。回到坑道里，老全已经坐在那里了，他脸上青一块紫一块的，他抢到的饼也不比我多。老全当了八年兵，心里还是很善良，他把自己的饼往我的上面一放，说等春生回来一起吃。我们两个就蹲在坑道里，露出脑袋张望春生。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;过了一会，我们看到春生怀里抱着一堆胶鞋猫着腰跑来了，这孩子高兴得满脸通红，他一翻身滚了进来，指着满地的胶鞋问我们：“多不多？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;老全望望我，问春生：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “这能吃吗？”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;春生说：“可以煮米饭啊。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;我们一想还真对，看看春生脸上一点伤都没有，老全对我说：
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp; “这小子比谁都精。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;后来我们就不去抢大饼了，用上了春生的办法。抢大饼的人叠在一起时，我们就去扒他们脚上的胶鞋，有些脚没有反应，有些脚乱蹬起来，我们就随手捡个钢盔狠狠揍那些不老实的脚，挨了揍的脚抽搐几下都跟冻僵似的硬了。我们抱着胶鞋回到坑道里生火，反正大米有的是，这样还免去了皮肉之苦。我们三个人边煮着米饭，边看着那些光脚在冬天里一走一跳的人，嘿嘿笑个不停。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;前沿的枪炮声越来越紧，也不分白天和晚上。我们呆在坑道里也听惯了，经常有炮弹在不远处爆炸，我们连的大炮都被打烂了，这些大炮一炮都没放，就成了一堆烂铁，我们更加没事可干了。那么一些日子下来，春生也不怎么害怕了，到那时候怕也没有用。枪炮声越来越近，我们总觉得还远着呢。最难受的就是天越来越冷，睡上几分钟就是冻醒一次。炮弹在外面爆炸时常震得我们耳朵里嗡嗡乱叫，春生怎么说也只是个孩子，他迷迷糊糊睡着时，一颗炮弹飞到近处一炸，把他的身体都弹了起来，他被吵醒后怒气冲冲地站在坑道上，对前面的枪炮声大喊：“你们他娘的轻一点，吵得老子都睡不着。”
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;我赶紧把他拉下来，当时子弹已在坑道上面飞来飞去了。

                    </p>
                </div>
            </div>
            <!-- 下边 评论盒子 -->
            <div class="comment_box">
                <!-- 小于400宽度显示该小圆按钮 -->
                <div class="M_comment_icon">点评</div>

                <div class="comment">
                    <div class="comment_on">
                        <textarea form="comform" name="textarea" placeholder="点评意见:"></textarea>

                        <form id="comform" method="post" action="postSave.asp">
                            <span>
                                <label for="score">评分:</label>
                                <input id="score" name="score_txt" maxlength="2" placeholder="1-10分" autocomplete="off"
                                       oninput="value=value.replace(/[^\d]/g,'')" />
                            </span>
                            <input id="reset" type="reset" value="清除">
                            <input id="submit" type="submit" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
