
@{
    ViewData["Title"] = "Asymmetric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asymmetric</h2>
<table>
    <tr>
        <td>公钥</td>
        <td>@Model[0]</td>
    </tr>
    <tr>
        <td>私钥</td>
        <td>@Model[1]</td>
    </tr>
</table>
