@model LibraryEntity.Files

    <tr>
        <td><span class="sn"></span></td>
        <td>@Model.Title</td>
        <td>@Model.Content</td>
        <td>@Model.Type</td>
        <td>@Model.DateTime</td>
    </tr>