@using LibraryEntity
@model Files
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*利用 TagHelper 生成表单*@
    <form method="post">
        <label>标题</label>
        <input asp-for="Title" />
        <label>内容</label>
        <input asp-for="Content" />
        <label>类型</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<TypeEnum>()"></select>
        <label>时间</label>
        <input asp-for="DateTime" />

        <button type="submit" class="btn btn-submit" name="save">保存</button>
    </form>