* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "微软雅黑";
    background: rgba(241, 241, 241, 0.6);
}

/* 导航条*/
header {
    width: 100%;
    background: lightseagreen;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
    -o-box-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}

header>.top {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    height: 50px;
    line-height: 25px;
    padding: 0 5px;
    box-shadow: 0 -5px 10px #ccc;
}


header>.top>.bh {
    font-size: 14px;
    margin-left: 3px;
    margin-right: 8px;
    font-family: "宋体";
}

header>.top.time>span,
.time {
    font-size: 12px;
    font-family: "宋体";
}

/* 主内容 */
.mian_box {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
}

/* 文章内容盒子样式 */
.article {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    margin-top: 45px;
    background: rgba(241, 241, 241, 0.7);
    /* 边 */
    box-shadow: 0 0 10px #ccc;
}

/* 文章 */
.article>.dp_Content {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    font-size: 16px;
    font-family: "宋体";
    /* letter-spacing: 8px; 间距*/
    line-height: 25px;
    /* overflow: hidden; */
    overflow: auto;
}

/* 评论盒子 */
/* 小于400宽度显示该小图标 */
.comment_box {
    max-width: 900px;
    min-width: 300px;
    position: relative;
}

.M_comment_icon {
    font-family: "幼圆";
    font-size: 16px;
    text-align: center;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: lightseagreen;
    opacity: 0.8;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);

    position: fixed;
    bottom: 0;
    right: 4px;

    display: none;
}

.comment {
    width: 100%;
    height: 280px;
    padding: 5px;
    background: rgba(241, 241, 241, 1);

    box-shadow: 0 5px 10px #ccc;

    /* background: rgba(224, 224, 224, 0.795); */
}

.comment>.comment_on {
    width: 100%;
    height: 260px;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;

    background: rgb(58, 207, 200);
}

.comment textarea {
    padding: 5px;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    /* 清楚默认表单样式 */
    border: 1px solid rgb(58, 207, 200);
    outline: none;
    -webkit-appearance: none;
}

.comment>.comment_on>form {
    width: 100%;
    float: right;
    text-align: right;
}

.comment>.comment_on>form input {
    width: 80px;
    height: 40px;
    background: #fff;
    font-size: 18px;
    margin: 5px 5px 5px 0;
    /* float: left; */
    font-family: "微软雅黑";
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;

    /* 清除默认表单样式 */
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;

    box-shadow: 0 0px 2px #ccc;
}

.comment>.comment_on>form>input#submit {
    width: 20%;
}

#comform>span {
    display: inline-block;
    position: relative;
}

#comform>span>label {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;

    display: inline-block;
    color: lightcoral;
}

.comment>.comment_on>form>span>#score {
    display: inline-block;
    width: 105px;
    height: 40px;
    border-radius: 5px;
    background: #fff;

    /* outline:rgb(235, 81, 81) dotted thick; */
    color: rgb(235, 81, 81);
    padding-left: 50px;
    cursor: inherit;
}

/* 兼容 设置提示的样式 */
#score::-webkit-input-placeholder {
    font-size: 16px;
    color: rgba(204, 204, 204,0.7);
}

#score::-moz-placeholder {
    font-size: 16px;
    color: rgba(204, 204, 204, 0.7);
}
#score:-moz-placeholder {
    font-size: 16px;
    color: rgba(204, 204, 204, 0.7);
}

#score:-ms-input-placeholder {
    font-size: 16px;
    color: rgba(204, 204, 204, 0.7);
}
